/*
	tan: F7EDDC;
	dark blue: 3E3C5E;
	red: B54F40;
	dark gold: 8B7752;
	dark brown: 342624;
*/

@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	width: 500px;
	margin: auto;
	color: #342624;
	font-family: 'Crimson Text', serif;
	animation-name: fadeIn;
	animation-duration: .75s;
	animation-timing-function: ease-in-out;
}

h1 {
	padding: 0px;
	margin: 0px;
	margin-bottom: 16px;
	margin-left: 24px;
	/*text-align: center;*/
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Fredericka the Great', cursive;
	font-weight: lighter;
}

header {
	position: relative;
	background-color: #F7EDDC;
	margin-top: 32px;
	padding-top: 16px;
	border-top-right-radius: 24px 24px;
	border-top-left-radius: 24px 24px;
	
}

nav {
	font-size: 1.5em;
}

nav ul {
	list-style-type: none;
	padding-inline-start: 0px;
	margin-block-start: 0px;
    margin-block-end: 0px;
    width: 100%;
    border-top: 1px solid #8B7752;
    border-bottom: 1px solid #8B7752;
}

nav ul li {
	display: inline-block;
	/*width: 49%;*/
	margin-left: 24px;
	margin-right: 24px;
}

.badge {
	font-family: 'Roboto', sans-serif;
	font-size: .4em;
	text-transform: uppercase;
	background-color: #8B7752;
	color: #F7EDDC;
	padding: 4px;
	border-radius: 6px 6px;
	/*margin-left: 8px;*/
	/*margin-top: -12px;*/
	position: relative;
	top: -8px;
	left: 4px;
}

nav a {
	text-decoration: none;

}

nav a:link, nav a:visited {
	color: #342624;
}

nav a:hover {
	color: #8B7752;
	transition: color 0.25s ease;
}

nav a:active {
	color: #ffffff;
}

main {
	background-color: #F7EDDC;
	padding: 24px;
}

.hidden {
	visibility: hidden;
}

.favorited-search-result {
	color: #AA9C81;
}

.rating {
	display: inline-block;
	float: right;
	margin-left: 16px;
	/*margin-top: 10px;*/
}

.star-canvas {
	/*width: 30px;
	height: 30px;*/
	/*background-color: blue;*/
	/*animation-name: spin;
	animation-iteration-count: 1;
	animation-duration: .5s;
	animation-timing-function: linear;*/
}

.rating-input {
	width: 10%;
	height: 18px;
}

.search-result, .favorite-result {
	/*margin-bottom: 8px;*/
	padding: 8px;
	border-bottom: 1px dotted #8B7752;
}

.search-result-title {
	width: 80%;
	display: inline-block;
}

.btn-primary {
	background-color: #3E3C5E;
	color: #F7EDDC;
	padding: 8px;
	margin-left: 8px;
	border: 1px solid #3E3C5E;
	border-radius: 4px 4px;
}

.btn-secondary {
	background-color: #342624;
	color: #F7EDDC;
	padding: 8px;
	margin-left: 8px;
	border: 1px solid #342624;
	border-radius: 4px 4px;
}

.favorite-book-title {
	width: 70%;
	display: inline-block;
}

.btn-info {
	background-color: #F7EDDC;
	color: #342624;
	padding: 8px;
	margin-left: 8px;
	border: 1px solid #342624;
	border-radius: 4px 4px;
}

.have-read {
	background-color: #B54F40;
	border: 1px solid #B54F40;
	color: #F7EDDC;
}

footer {
	background-color: #F7EDDC;
	margin-bottom: 32px;
	/*padding-left: 24px;*/
	text-align: center;
	font-size: .8em;
	padding-bottom: 16px;
    border-top: 1px solid #8B7752;
	border-bottom-right-radius: 24px 24px;
	border-bottom-left-radius: 24px 24px;
}

#ribbon {
	position: absolute; 
	background: #B54F40;
	height: 100px;
	width: 80px;
	right: 50px;
	top: 0px;
	color: #F7EDDC;
	z-index: 7;
}

#ribbon-tail-left {
	height: 50px;
	width: 50px;
	position: absolute;
	right: 80px;
	background-color: #B54F40;
	transform: skewY(-30deg) translate(0px, 50px);
	z-index: 5;
}

#ribbon-tail-right {
	height: 50px;
	width: 50px;
	position: absolute;
	right: 50px;
	background-color: #B54F40;
	transform: skewY(30deg) translate(0px, 50px);
	z-index: 6;
}

#ribbon h3 {
	margin: 12px;
   	text-align: center;
   	z-index: 8;
   	animation-name: fadeIn;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

i {
	animation-name: spin;
	animation-iteration-count: infinite;
	animation-duration: 1s;
	animation-timing-function: linear;

}

.fade-in-transition {
	opacity: 0.75;
}

.fade-in-transition:hover {
	opacity: 1;
	transition: opacity 0.25s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }

}

.bookshelf-title span {
	display: inline-block;
	animation-name: titleRender;
	animation-duration: 2s;
	margin-right: -10px;
	/*opacity: 0;*/
	/*opacity: 0;*/
	
}

.bookshelf-title span:nth-of-type(1) { animation-delay: .05s; }
.bookshelf-title span:nth-of-type(2) { animation-delay: .1s; }
.bookshelf-title span:nth-of-type(3) { animation-delay: .15s; }
.bookshelf-title span:nth-of-type(4) { animation-delay: .2s; }
.bookshelf-title span:nth-of-type(5) { animation-delay: .25s; }
.bookshelf-title span:nth-of-type(6) { animation-delay: .3s; }
.bookshelf-title span:nth-of-type(7) { animation-delay: .35s; }
.bookshelf-title span:nth-of-type(8) { animation-delay: .4s; }
.bookshelf-title span:nth-of-type(9) { animation-delay: .45s; }
.bookshelf-title span:nth-of-type(10) { animation-delay: .5s; }

.spinning-letter {
	animation: spin 1s;
	animation-delay: .25s;
	animation-iteration-count: 1;
	margin-right: -10px;
	display: inline-block;
}

@keyframes titleRender {
	40% {
		transform: translate(50px, 0px);
		/*opacity: 0;*/
	}
	/*5% {
		opacity: 1;
		
	}*/
    75% {
    	transform: skewX(-10deg);
    }
    80% {
    	transform: translate(0px, 0px);
    }
    100% {
    	transform: skewX(0deg);
    	/*opacity: 1;
    	transition: opacity 1s ease-in;*/
    }
}


